In [1]:
import pandas as pd

In [2]:
pwd

'/projects/820ea3ac-497c-43fd-9cb7-abe34292faa8/SC22-BatchA-Blurred-Futures/Team 2 - Conservative'

In [107]:
conservative_df = pd.read_csv('/projects/820ea3ac-497c-43fd-9cb7-abe34292faa8/SC22-BatchA-Blurred-Futures/Data/conservativefinal_df.csv')

In [5]:
conservative_df.head()

                                                body  score
0                                          [removed]      1
1  We don't cancel people, we make fun of them, a...      1
2                Fuck cancel culture. From both ends      1
3  Nah…fights at buffets are nothing new. Usually...      1
4  I think you’re right. China’s just lying in wa...      1

In [108]:
conservative_df = conservative_df[conservative_df['body']!='[removed]']

In [7]:
conservative_df.head()

                                                body  score
1  We don't cancel people, we make fun of them, a...      1
2                Fuck cancel culture. From both ends      1
3  Nah…fights at buffets are nothing new. Usually...      1
4  I think you’re right. China’s just lying in wa...      1
5  I know.....I wish the majority  of you were th...      1

In [8]:
conservative_df.shape

(84041, 2)

In [20]:
conservative_df['score'].value_counts()

 1      75565
 2       1568
 3       1050
 0        567
 4        545
        ...
-90         1
 274        1
 253        1
-93         1
 137        1
Name: score, Length: 253, dtype: int64

In [106]:
conservative_df = conservative_df[conservative_df['score'] > 1]

In [12]:
conservative_df.shape

(7169, 2)

In [109]:
conservative_df['body'] = conservative_df['body'].apply(lambda x: str(x).lower())

In [110]:
conservative_df['word_counts'] = conservative_df['body'].apply(lambda x: len(str(x).split()))
conservative_df[conservative_df['word_counts']>=6]

                                                    body  score  word_counts
1      we don't cancel people, we make fun of them, a...      1           12
2                    fuck cancel culture. from both ends      1            6
3      nah…fights at buffets are nothing new. usually...      1           72
4      i think you’re right. china’s just lying in wa...      1           88
5      i know.....i wish the majority  of you were th...      1            9
...                                                  ...    ...          ...
99994     mortgage forgiveness, but only for poc is next      1            8
99995  tired of reporting this thread?  [debate us on...      1           34
99996  hahaha you havent heard of financial instabili...      1           13
99998  it should go hand in hand with sex ed if at al...      1           39
99999        we need to stop electing the elderly ffs...      1            8

[70970 rows x 3 columns]

In [47]:
conservative_df[conservative_df['word_counts'] == 10]

                                                    body  score  word_counts
16     Lesson to be learned, don’t F*CK with another ...      1           10
48     Unless your last name is Trump, isn't that rig...      1           10
95      You should see the people crying in the RVA sub.      1           10
98     Don’t forget that he’s driven away all of his ...      1           10
150    Does this mean teachers no longer have to be v...      1           10
...                                                  ...    ...          ...
99885  So they aren't even making Bots with conspicuo...      1           10
99896  this bill intentionally eliminates the age... ...      1           10
99919  That’s rich coming from a paper owned by Jeff ...      1           10
99926  Rob Reiner? No. That's the legendary investiga...      1           10
99935  For many people, politics is just another form...      1           10

[2828 rows x 3 columns]

In [49]:
conservative_df.iloc[150]['body']

'Let them continue to bury themselves in hyperbole and insanity bc it’s turning the majority of the country off when everything is racist everything is hitler everything is fascism, then nothing is, and they will pay the price for schilling such outrageous, untrue comparisons.'

In [111]:
new_df=conservative_df[conservative_df['word_counts']>=10]

In [112]:
new_df.shape[0]

58815

In [113]:
import re

In [114]:
new_df['emails'] = new_df['body'].apply(lambda x: re.findall(r'([a-z0-9+._-]+@[a-z0-9+._-]+\.[a-z0-9+_-]+\b)', x))

/tmp/ipykernel_5084/3796997088.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['emails'] = new_df['body'].apply(lambda x: re.findall(r'([a-z0-9+._-]+@[a-z0-9+._-]+\.[a-z0-9+_-]+\b)', x))

In [115]:
new_df.head()

,body,score,word_counts,emails
1,"we don't cancel people, we make fun of them, a...",1,12,[]
3,nah…fights at buffets are nothing new. usually...,1,72,[]
4,i think you’re right. china’s just lying in wa...,1,88,[]
11,"normally, if we want a loan, we have to offer ...",1,32,[]
12,the absurdity of blm lecturing others on how t...,1,60,[]

In [116]:
new_df['emails_count'] = new_df['emails'].apply(lambda x: len(x))

/tmp/ipykernel_5084/1495179868.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['emails_count'] = new_df['emails'].apply(lambda x: len(x))

In [119]:
new_df[new_df['emails_count']>0]

Empty DataFrame
Columns: [body, score, word_counts, emails, emails_count]
Index: []

In [58]:
new_df.iloc[16325]['body']

"Or just move to somewhere where you don't always have to be paranoid about your personal safety?\n\nBecoming suspicious of everyone around you sounds like a living hell."

In [60]:
new_df['body'][16325]

'The truckers have a reward going to find the guy with the flag, and the article is asking for any tips on him to: \nSend tips here: candice@truenorthcanada.com'

In [118]:
new_df = new_df[new_df['emails_count']==0]

In [63]:
new_df['url_flags'] = new_df['body'].apply(lambda x: len(re.findall(r'(http|https|ftp|ssh)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', x)))

/tmp/ipykernel_5084/910319992.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['url_flags'] = new_df['body'].apply(lambda x: len(re.findall(r'(http|https|ftp|ssh)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', x)))

In [64]:
new_df[new_df['url_flags']>0].sample(5)

,body,score,word_counts,emails,emails_count,url_flags
26574,Shocking.....or not......Trump told Germany th...,1,66,[],0,2
58137,"And the women are more feminine and happier, a...",1,13,[],0,1
21670,They are labs made to store and do research on...,1,36,[],0,1
92241,[Taking Responsibility - Jocko Willink and Jor...,1,22,[],0,1
24140,"Don't know about a full itemized receipt, but ...",1,37,[],0,1

In [65]:
new_df['body'][26574]

'Shocking.....or not......Trump told Germany they would be owned by Russia back in 2018....and they just laughed.\n\n[https://www.washingtonpost.com/world/2018/09/25/trump-accused-germany-becoming-totally-dependent-russian-energy-un-germans-just-smirked/](https://www.washingtonpost.com/world/2018/09/25/trump-accused-germany-becoming-totally-dependent-russian-energy-un-germans-just-smirked/)\n\n&amp;#x200B;\n\n&gt;Trump said: “Germany will become totally dependent on Russian energy if it does not immediately change course. Here in the Western Hemisphere, we are committed to maintaining our independence from the encroachment of expansionist foreign powers.”  \nGerman Foreign Minister Heiko Maas could be seen smirking alongside his colleagues.'

In [120]:
new_df['body'] = new_df['body'].apply(lambda x: re.sub(r'(http|https|ftp|ssh)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', '' , x))

In [121]:
new_df['body'] = new_df['body'].apply(lambda x: ' '.join(x.split()))

In [122]:
new_df

,body,score,word_counts,emails,emails_count
1,"we don't cancel people, we make fun of them, a...",1,12,[],0
3,nah…fights at buffets are nothing new. usually...,1,72,[],0
4,i think you’re right. china’s just lying in wa...,1,88,[],0
11,"normally, if we want a loan, we have to offer ...",1,32,[],0
12,the absurdity of blm lecturing others on how t...,1,60,[],0
...,...,...,...,...,...
99992,if y’all haven’t listened to dan bongino’s pod...,1,46,[],0
99993,much better reason than the usual moral soup h...,1,12,[],0
99995,tired of reporting this thread? [debate us on ...,1,34,[],0
99996,hahaha you havent heard of financial instabili...,1,13,[],0
99998,it should go hand in hand with sex ed if at al...,1,39,[],0

In [82]:
!pip install lxml

Requirement already satisfied: lxml in /usr/lib/python3/dist-packages (4.5.0)

In [124]:
from bs4 import BeautifulSoup

In [125]:
new_df['body'] = new_df['body'].apply(lambda x: BeautifulSoup(x, 'html.parser').get_text().strip())

/projects/820ea3ac-497c-43fd-9cb7-abe34292faa8/miniconda3/lib/python3.9/site-packages/bs4/__init__.py:435: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  warnings.warn(

In [126]:
import unicodedata

In [127]:
def remove_accented_chars(x):
    x = unicodedata.normalize('NFKD', x).encode('ascii', 'ignore').decode('utf-8', 'ignore')
    return x

In [128]:
new_df['body'] = new_df['body'].apply(lambda x: remove_accented_chars(x))

In [129]:
new_df.head()

,body,score,word_counts,emails,emails_count
1,"we don't cancel people, we make fun of them, a...",1,12,[],0
3,nah...fights at buffets are nothing new. usual...,1,72,[],0
4,i think youre right. chinas just lying in wait...,1,88,[],0
11,"normally, if we want a loan, we have to offer ...",1,32,[],0
12,the absurdity of blm lecturing others on how t...,1,60,[],0

In [130]:
new_df['body'] = new_df['body'].apply(lambda x: re.sub(r'[^\w.,;!?]+', " ", x))

In [131]:
new_df.head()

,body,score,word_counts,emails,emails_count
1,"we don t cancel people, we make fun of them, a...",1,12,[],0
3,nah...fights at buffets are nothing new. usual...,1,72,[],0
4,i think youre right. chinas just lying in wait...,1,88,[],0
11,"normally, if we want a loan, we have to offer ...",1,32,[],0
12,the absurdity of blm lecturing others on how t...,1,60,[],0

In [133]:
path='/projects/820ea3ac-497c-43fd-9cb7-abe34292faa8/SC22-BatchA-Blurred-Futures/Data/'

new_df.to_csv(path+'clean-conservative-data.csv')